<mat-card class="bottom">
    <form (submit)="onAddMessage(postMessage)" #postMessage="ngForm">
        <mat-form-field class="form-field" appearance="fill">
            <input
              matInput
              type="text"
              name="message"
              ngModel
              required
              minlength="3"
              placeholder = "Message"
              #message="ngModel">
              <mat-error *ngIf="message.invalid">Please enter a message.</mat-error>
        </mat-form-field>

          <button
            mat-raised-button
            color="accent"
            type="submit"
            >Send</button>
    </form>
  </mat-card>
